/* Reset and font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #111;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
}

.navbar nav a:hover {
    color: #f0b90b;
}

/* Banner Section */
.banner {
   width: 100%; 
    height: 90vh;
    background-image: url('Gym-structure-1080x675.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.banner-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 20px;
}

.banner-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 25px;
}

.banner-content .btn {
    display: inline-block;
    padding: 14px 32px;
    background: #f0b90b;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s ease;
}

.banner-content .btn:hover {
    background: #d9a406;
}

/* About Section */
.about {
    padding: 70px 20px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 17px;
    color: #444;
    line-height: 1.6;
}

/* Membership Section */
.membership {
    padding: 60px 20px;
    text-align: center;
    background: #f5f5f5;
}

.membership h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    padding-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 22px;
    margin: 15px 0;
}

.card ul {
    text-align: left;
    padding: 0 20px;
    list-style-type: disc;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}

.card ul li.price {
    color: red;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin-bottom: 10px;
}

/* Footer */
.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
